---
layout: default
title: Home - digitale-kollaboration.de
pagination:
enabled: false
---

{% include hero_area.html %}
<div align="center" class="cite-container container">
    <h2 style="margin-bottom: 20px;" class="cite">Digitale Kollaboration & Homeoffice</h2>
    <div class="cite">
        <p class="gray">
            Die <span class="orange">Zusammenarbeit</span> im <span class="orange">digitalisierten Büroalltag</span>
            gestaltet sich anders als im Präsenzmodus</span>.
        </p>
        <p class="gray" style="padding-bottom:10px;">
            Unsere bisherigen <span class="orange">Arbeitsweisen und -philosophien</span> haben sich über Jahrzehnte
            hinweg implizit in der Gesellschaft verankert und werden durch den Einsatz <span class="orange">digitaler
                Werkzeuge</span> komplett auf den Kopf gestellt.
        </p>
    </div>

</div>
{% include services.html %}

{% include features.html %}


{% include blog_area.html %}