---
layout: default
title: Test
pagination:
    enabled: false
---

{% include hero_area.html %}
<div align="center" class="cite-container container">
    <h2 style="margin-bottom: 20px;" class="wow fadeInLeft cite" data-wow-duration="1.2s" data-wow-delay="1.5s">Digitale Kollaboration & Homeoffice</h2>
    <div class="wow fadeInRight cite" data-wow-duration="1.2s" data-wow-delay="1.2s">
        <p class="gray">
            Die Zusammenarbeit im digitalisierten Büroalltag gestaltet sich <span class="orange">anders als im Präsenzmodus</span>.
        </p>
        <p class="gray">
            Unsere bisherigen Arbeitsweisen und -philosophien haben sich über Jahrzehnte hinweg implizit in der Gesellschaft verankert und werden durch den Einsatz digitaler Werkzeuge komplett auf den Kopf gestellt. 
        </p>
        <p class="gray">
            Damit die Digitalisierung überhaupt gelingen kann, <span class="orange">MUSS</span> es ein Ziel jeder Organisation sein, jederzeit <span class="orange">ohne Fremdhilfe</span> neue Mitarbeiter in die <span class="orange">digitale Arbeitsphilosophie und -kultur</span> einzuführen.
        </p>
        <p class="gray">    
            Darüber hinaus existiert ein <span class="orange">großes Potenzial bzgl. Effektivität und Effizienz</span>, dass durch ein Zusammenspiel aus der richtigen <span class="orange">Philosphie</span>, erlernter <span class="orange">Methoden- und Werkzeugkompetenz</span> und <span class="orange">kontinuierlicher Lernbereitschaft</span> ausgeschöpft werden kann.
        </p>
    </div>
    
</div>
{% include services.html %}

{% include about.html %}

{% include features.html %}

{% include projects.html %}

{% include countdown.html %}

{% include team.html %}

{% include working_progress.html %}

{% include contact.html %}

{% include testimonials.html %}

{% include blog_area.html %}