<!--====== BANNER PART START ======-->

<section class="banner-area">
<div class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-9">
                <div class="banner-content">
                    <h1 class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="0.3s">
                        <span><span>Digitalisierte Arbeitsabläufe</span></span>
                        selbstbewusst meistern ...<span>  <span></span> </span>
                    </h1>
                    <span class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1.2s; animation-delay: 0.8s; animation-name: fadeInLeft;">Effizienz & Arbeitskultur</span>
                    <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.3s" style="visibility: visible; animation-duration: 1.2s; animation-delay: 1.3s; animation-name: fadeInLeft;">Wir beraten sie bezüglich Auswahl der richtigen Kollaborationswerkzeuge und ermöglichen Ihren Kollegen den passenden Einstieg in neue Arbeitsweisen.</p>
                    <!-- <span class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.5s">Digitale Kollaboration bedeutet...</span> -->
                    <!-- <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2s">Die Investition in digitale Office-Werkzeuge führt nicht zwangsläufig zu Produktivitätssteigerungen.</p> -->
                    <ul class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.5s" >
                        <li><a class="main-btn" href="/blog">Zum Blog</a></li>
                        <li><a class="main-btn main-btn-2" href="/kontakt">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="banner-shape-1">
</div> -->
<div class="banner-shape-2">
    <img src="{{relative_url}}/assets/images/banner-shape-1.png" alt="">
</div>
<!-- <div class="banner-shape-3">
    <img src="{{relative_url}}/assets/images/banner-shape-2.png" alt="">
</div> -->
</section>

<!--====== BANNER PART ENDS ======-->