<section class="case-study-area pb-130 case-page-1">
    <div class="container" style="margin-top: -100px;">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="case-item mt-30">
                    <a href="/auswahl-digitaler-kollaborationswerkzeuge">
                        <div class="case-thumb">
                            <img src="/assets/images/case-1.jpg" alt="case">
                        </div>
                        <div class="case-content white-bg">
                            <a href="/auswahl-digitaler-kollaborationswerkzeuge">
                                <h4 class="title">Auswahl digitaler Werkzeuge</h4>
                                <p>Wählen Sie die richtigen Werkzeuge, die auch mit den Richtlinien Ihres Unternehmens
                                    harmonieren.</p>
                                <a href="/auswahl-digitaler-kollaborationswerkzeuge">Weiterlesen... <i
                                        class="far fa-long-arrow-right"></i></a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="case-item mt-30">
                    <a href="/netiquette-und-verhaltensregeln">
                        <div class="case-thumb">
                            <img src="/assets/images/case-2.jpg" alt="case">
                        </div>
                        <div class="case-content white-bg">
                            <h4 class="title">Netiquette und Verhaltensregeln</h4>
                            <p>Neue Arbeitsweisen erfordern neue Verhaltensregeln und eine angepasste Arbeitskultur.</p>
                            <a href="/netiquette-und-verhaltensregeln">Weiterlesen... <i
                                    class="far fa-long-arrow-right"></i></a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="case-item mt-30">
                    <a href="/regelmaessige-arbeitsablaeufe">
                        <div class="case-thumb">
                            <img src="/assets/images/case-3.jpg" alt="case">
                        </div>
                        <div class="case-content white-bg">
                            <h4 class="title">Regelmäßige Tagesabläufe</h4>
                            <p>Etablierung von angepassten Tagesabläufen im Team und Optimierung des Arbeitsflusses.</p>
                            <a href="/regelmaessige-arbeitsablaeufe">Weiterlesen... <i
                                    class="far fa-long-arrow-right"></i></a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="case-item mt-30">
                    <div class="case-thumb">
                        <img src="/assets/images/case-10.jpg" alt="case">
                    </div>
                    <div class="case-content white-bg">
                        <h4 class="title">Ergebnisorientierte Meetings</h4>
                        <p>Holen Sie das Beste aus Ihrem Meeting heraus und beeindrucken Sie mit Flexibilität und Kreativität.</p>
                        <a href="/ergebnisorientierte-meetings">Weiterlesen... <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="case-item mt-30">
                    <div class="case-thumb">
                        <img src="/assets/images/case-11.jpg" alt="case">
                    </div>
                    <div class="case-content white-bg">
                        <h4 class="title">Erfolgreiche Kundeninteraktionen</h4>
                        <p>Persönlicher Kontakt ist und bleibt besonders im digitalen Zeitalter ein wichtiger Erfolgsfaktor.</p>
                        <a href="/erfolgreiche-kundeninteraktion">Weiterlesen... <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="case-item mt-30">
                    <div class="case-thumb">
                        <img src="/assets/images/case-12.jpg" alt="case">
                    </div>
                    <div class="case-content white-bg">
                        <h4 class="title">Onboarding von neuen Mitarbeitern</h4>
                        <p>Der Onboarding Prozess sollte keine Einzelaufgabe darstellen sondern im Kollektiv stattfinden.</p>
                        <a href="/onboarding-neuer-mitarbeiter">Weiterlesen... <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>