.blog-content tbody tr td {
    font-size: 12px;
    font-weight: lighter;
    vertical-align: top;
}
.blog-content td {
    padding-left:20px;
}
.blog-content th {
    padding-left:20px;
    padding-bottom: 5px;
}