/*===========================
    CITE css 
===========================*/

div.cite-container {
    margin-top: 40px;
    //padding-bottom: 20px;
    padding-top: 20px;
    //border: 1px solid;
    box-shadow: 3px 4px 2px 4px #dddddd;
    background-color: #eceff3;
}

p.cite {
    visibility: visible; 
    animation-duration: 1.2s; 
    animation-delay: 2s; 
    //animation-name: fadeInDown;
}

span.orange{
    color: $theme-color-2;
    font-size: 20px;
}
p.gray{
    font-size: 18px;
    margin-bottom: 20px;
}