$primary-color-dark: #206060;

/* headline scale */
// $h-size-1: 1.563em !default; // ~25.008px
$h-size-1: 1.25em !default; // ~20px
$h-size-2: 1.125em !default; // ~18px
$h-size-3: 1.0625em !default; // ~17px
$h-size-4: 1em !default; // ~16.5px
$h-size-5: 0.95em !default; // ~16px
$h-size-6: 0.85em !default; // ~16px

$type-size-1: 1.563em !default; // ~31.248px
$type-size-2: 1.25em !default; // ~25.008px
$type-size-3: 1em !default; // ~20px
$type-size-4: 0.75em !default; // ~16px
$type-size-5: 0.6875em !default; // ~12px
$type-size-6: 0.625em !default; // ~11px
$type-size-7: 0.58em !default; // ~10px
$type-size-8: 0.54em !default; // ~10px

h2.archive__item-title { 
    color: $primary-color-dark;
    font-size: $h-size-6;
}

.feature__wrapper {
   // display: flex; //macht layout bei kleinen devices kaputt
}